html {
	background: url("flower.jpg");
	font-family: cursive;

}
a {
	
	font-size: 20px;
	color: teal;
	text-transform: uppercase;
	text-align: center;
}
p {
	
	font-size: 20px;
	color: darkcyan;
	text-transform: lowercase;
	text-align: center;
}
h1 {
	color:darkslategray;
	font-family: cursive;
	text-align: center;

}
h2 {
	text-align: center;
	color: slategray;
}
h3 {
	color:cadetblue;
	text-align: center;
}
ul, ol {
	text-align: center;
	color:slategray;
}
.toplinks a{
	color: darkblue;
	width: 100px;


}
img {
	
}